/* Configurações para impressão da página */

@media print {
    @page {
        margin: 0px;
    }

    body {
        margin: 1.6cm;
    }

    footer, hr {
        display: none;
    }
}

@media (prefers-color-scheme:dark) {
    body {
        background-color: #171717;
        font-family: 'Montserrat', sans-serif;

    }

    header, footer {
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
    }

    footer {
        margin: 20px;
    }

    h1 {
        color: #42a4ff;
        font-weight: 900;
    }

    a {
        color: #5188ff;
        font-weight: 500;
    }

    .phone-email {
        margin-top: -7px;
    }

    .category {
        color: #42a4ff;
        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    .content {
        color: #FFFFFF;
        font-size: 1.1rem;
        text-align: justify;
    }

    .sub-category {
        color: #5188ff;
        font-weight: 700;
        font-size: 1.1rem;
    }
    
    .time {
        color: #FFFFFF;
        text-transform: uppercase;
    }
    
    .info {
        color: #5b8feb;
        font-weight: 600;
        font-size: 1.15rem;
    }

    button.active {
        background-color: #42a4ff;
        color: #FFFFFF;
        outline: none;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 600;
    }

    button.inactive {
        background-color: #171717;
        color: #42a4ff;
        outline: none;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 600;
    }

    button.active#languageSwitcher_pt {
        border-width: 1px;
        border-style: solid;
        border-color: #42a4ff #171717 #42a4ff #42a4ff;
        border-radius: 5px 0px 0px 5px;
    }

    button.inactive#languageSwitcher_en {
        box-sizing: border-box;
        outline: none;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: #42a4ff#42a4ff;
        border-radius: 0px 5px 5px 0px;
    }

    button.active#languageSwitcher_en {
        border-width: 1px;
        border-style: solid;
        border-color: #42a4ff #42a4ff #42a4ff #171717;
        border-radius: 0px 5px 5px 0px;
    }

    button.inactive#languageSwitcher_pt {
        box-sizing: border-box;
        outline: none;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color: #42a4ff;
        border-radius: 5px 0px 0px 5px;
    }

    button:active, button:focus, button:hover {
        outline: none;
    }
}

@media (prefers-color-scheme:light) {
    /* Mudanças no cabeçalho e rodapé */
    header, footer {
        color: #757575;
        text-align: center;
        font-weight: 500;
    }

    footer {
        margin: 20px;
    }

    h1 {
        color: #1F3864;
        font-weight: 900;
    }

    a {
        color: #3a66b3;
        font-weight: 500;
    }

    .phone-email {
        margin-top: -7px;
    }

    /* Corpo do texto */
    body {
        font-family: 'Montserrat', sans-serif;
    }

    /*  Configurações para as seções da página */
    .category {
        color: #1F3864;
        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;
    }


    .content {
        color: #707070;
        font-size: 1.1rem;
        text-align: justify;
    }

    .sub-category {
        color: #3a66b3;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .time {
        color: #757575;
        text-transform: uppercase;
    }

    .info {
        color: #3a66b3;
        font-weight: 600;
        font-size: 1.15rem;
    }

    button.active {
        background-color: #3a66b3;
        color: #FFFFFF;
        outline: none;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 600;
    }

    button.inactive {
        background-color: #FFFFFF;
        color: #3a66b3;
        outline: none;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 600;
    }

    button.active#languageSwitcher_pt {
        border-width: 1px;
        border-style: solid;
        border-color: #3a66b3 #FFFFFF #3a66b3 #3a66b3;
        border-radius: 5px 0px 0px 5px;
    }

    button.inactive#languageSwitcher_en {
        box-sizing: border-box;
        outline: none;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: #3a66b3;
        border-radius: 0px 5px 5px 0px;
    }

    button.active#languageSwitcher_en {
        border-width: 1px;
        border-style: solid;
        border-color: #3a66b3 #3a66b3 #3a66b3 #FFFFFF;
        border-radius: 0px 5px 5px 0px;
    }

    button.inactive#languageSwitcher_pt {
        box-sizing: border-box;
        outline: none;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color: #3a66b3;
        border-radius: 5px 0px 0px 5px;
    }

    button:active, button:focus, button:hover {
        outline: none;
    }
}

.buttons {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 0;
}

button#languageSwitcher_pt, button#languageSwitcher_en {
    font-size: 1rem;
}